@page "/"
@rendermode InteractiveServer
@using serwis_web.Components.Layout
@using Colors = DesignSystem.Tokens.Colors
@using ApiService
@using ApiService.Helpers
@using ApiService.Models
@using Console = System.Console
@inject ApiService ApiService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@layout EmptyLayout

<main
    style="@($"background-color: {Colors.Primary}; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; background-image: url('/shape.png'); background-size: cover; background-position: center;"))">
    <section
        style="@($"background-color: {Colors.White}; border-radius: 8px; padding: 40px 20px; margin: 0 20px; width: 80%; max-width: 700px;"))">
        <h1 style="text-align: center">Zaloguj się do aplikacji</h1>
        <p style="text-align: center">Podaj swój adres e-mail i hasło lub wybierz metodę logowania za pomocą mediów
            społecznościowych</p>
        <MudTextField @bind-Value="Email" Label="Email" Variant="Variant.Outlined"
                      Style="border-radius: 8px; margin: 10px 0;"></MudTextField>
        <p style="text-align: right">Nie pamiętasz hasła?</p>
        <MudTextField @bind-Value="Haslo" Label="Hasło" Variant="Variant.Outlined" InputType="InputType.Password"
                      Style="margin: 10px 0;"></MudTextField>
        <MudButton Variant="Variant.Filled" @onclick="() => { _ = ZalogujUzytkownika(); }"
                   Style="@($"background-color: {Colors.Primary}; height: 42px; width: 100%; color: {Colors.White}; border-radius: 8px; margin: 10px 0;")">
            Zaloguj się
        </MudButton>
        <div style="display: flex; align-items: center;">
            <MudCheckBox Dense="true" @bind-Value="ZapamietajHaslo"
                         Style="@($"color: {Colors.Primary}; padding: 0px;")"></MudCheckBox>
            Zapamiętaj hasło
        </div>
        <p style="text-align: right">Nie masz jeszcze konta? <a href="/rejestracja"
                                                                style=@($"color: {Colors.Primary}; text-decoration: none;")>Zarejestruj
                się</a></p>
        <div style="margin-top: 20px;">
            <MudButton Variant="Variant.Filled"
                       Style="@($"height: 42px; border-radius: 8px; width: 100%; background-color: {Colors.Gray}; display: flex; align-items: center; justify-content: center;")">
                <i class="fab fa-google" style="margin-right: 16px;"></i> Zaloguj się przez Google
            </MudButton>
            <MudButton Variant="Variant.Filled"
                       Style="@($"height: 42px; margin-top: 20px; border-radius: 8px; width: 100%; background-color: {Colors.Gray}; display: flex; align-items: center; justify-content: center;")">
                <i class="fab fa-facebook" style="margin-right: 16px;"></i> Zaloguj się przez Facebook
            </MudButton>
        </div>
    </section>
</main>

@code {
    public bool ZapamietajHaslo { get; set; } = true;
    public string Email { get; set; } = string.Empty;
    public string Haslo { get; set; } = string.Empty;
    Result<Token>? _wynik;

    private async Task ZalogujUzytkownika()
    {
        _wynik = await ApiService.AdministracjaRepo.LoginPost(new Autoryzacja
        {
            Haslo = Haslo,
            Email = Email,
        });

        if (_wynik != null && _wynik.Error == null)
        {
            Snackbar.Add("Logowanie udane", Severity.Success);
            await Task.Delay(2000);
            Navigation.NavigateTo("/index");
        }
        else
        {
            Snackbar.Add("Logowanie nie powiodło się", Severity.Error);
        }

        StateHasChanged();
    }

}